<div
	class="accordion-item">

	<h2
		class="accordion-header"
		id="h{{ id }}">

		<button
			class="accordion-button collapsed"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#p{{ id }}"
			aria-expanded="true"
			aria-controls="p{{ id }}">
			{{ text_item_header }}
			{% if item != 'marker' %}
				{{ class }}
			{% endif %}
		</button>
	</h2>

	<div
		id="p{{ id }}"
		class="accordion-collapse collapse"
		aria-labelledby="h{{ id }}">

		<div
			class="accordion-body">

			{% if item != 'marker' %}

				<input
					type="hidden"
					id="hidden{{ id }}"
					name="m[{{ item }}][{{ id }}][class]"
					value="{{ class }}"/>

				<div
					class="row mb-3">

					<div
						id="item{{ id }}-class">

						<div
							class="form-text help_item_class">
							{{help}}
						</div>

					</div>

				</div>

			{% endif %}

			{% if item == 'marker' %}
				<div
					class="row mb-3">

					<label
						for="name{{ id }}"
						class="col-sm-2 col- form-label">{{ entry_item_title }}</label>
					<div
						class="col-sm-10">

						<input
							type="text"
							name="t[{{ item }}][{{ id }}][name]"
							value="{{ t[item][id].name ?? class }}" id="name{{ id }}"
							class="form-control item-name"
							onchange="changeItemName(this);"/>

						<div
							class="form-text">{{ help_item_name }}</div>

					</div>
				</div>
			{% endif %}

			{% if item == 'marker' %}
				<div
					class="accordion pt-3 pb-4">

					<div
						class="accordion-item">

						<h2
							class="accordion-header"
							id="{{ name }}{{ id }}">

							<button
								class="accordion-button"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#p_{{ name }}{{ id }}"
								aria-expanded="false"
								aria-controls="p_{{ name }}{{ id }}">{{ text_options }}</button>

						</h2>

						<div
							id="p_{{ name }}{{ id }}"
							class="accordion-collapse collapse show"
							aria-labelledby="{{ name }}{{ id }}">

							<div
								class="accordion-body subclass-body">
								{% include(ip~item~'/'~class~'.twig') %}</div>

						</div>

					</div>

				</div>
			{% else %}
				{% include(ip~item~'/'~class~'.twig') %}
			{% endif %}

			<button
				type="button"
				class="btn btn-outline-danger mt-4 mb-2"
				onclick="delItem(this);">
				<i
					class="fa-regular fa-trash-can"></i>

				{% if item == 'control' %}
					{{ text_delete_control }}

				{% elseif item == 'interaction' %}
					{{ text_delete_interaction }}

				{% elseif item == 'layer' %}
					{{ text_delete_layer }}

				{% elseif item == 'marker' %}
					{{ text_delete_marker }}

				{% endif %}

			</button>

		</div>

	</div>
</div>
