<style>
    #map{{ module_id }}{
        width:  {{ width }};
        height: {{ height }};
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div id="map{{ module_id }}" class="map" tabindex="0"></div>
        <div id="popup"></div>
    </div>
</div>
<script src="extension/maps/catalog/view/javascript/ol/main.js"></script>
<script>
    map.show("map{{ module_id }}", "{{ geocode }}", "{{ config_marker }}",
    {{ zoom }},
                "{{ zoomControl }}",
                {
                    zoomInTipLabel: "{{ zoomInTipLabel }}",
                    zoomOutTipLabel: "{{ zoomOutTipLabel }}"
                },
                "{{ attributionControl }}",
                "{{ fullScreenControl }}",
                {
                    tipLabel: "{{ fullScreenTipLabel }}"
                },
                "{{ doubleClickZoom }}"
                );
</script>
<link href="extension/maps/catalog/view/javascript/ol/main.css" type="text/css" rel="stylesheet" media="screen"/>
